@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: founder;
  src: url(../src/assets/fonts/FoundersGrotesk-Semibold.ttf);
}

@font-face {
  font-family: neue;
  src: url(../src/assets/fonts/NeueMontreal-Regular.ttf);
}

@font-face {
  font-family: sohne;
  src: url(../src/assets/fonts/TestSohne-Dreiviertelfett-BF663d89ccc5f66.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

